body{
    background-color:hsl(220, 15%, 90%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.parent-card{
    width: 450px;
    height: fit-content; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    border: none;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
.qr-card-image{
    background: url(edited-computer-qr.png);
    height: 446px;
    width: 434px;
    border: none;
    border-radius: 8px;
    margin-top: 0%;
    background-repeat: no-repeat;
}
.text-area{
    width: 400px;
    text-align: center;
    margin: 0%;
}
.CTO{
    margin: 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.instruction{
    margin: 0%;
    color: grey;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

@media screen and (max-width: 640px) {
    body{
        /* overflow: hidden; */
    }
    .parent-card{
        width: 400px;
    }
    .qr-card-image{
        background: url(mobile-image-qr-code.png);
        background-repeat: no-repeat;
        width: 375px;
        height: 375px;
    }
 
}